@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .optionShadow {
    box-shadow: 0 5px rgba(0, 0, 0, 0.2) inset;
    width: 100%;
    height: 100%;
    border: solid 1rem transparent;
    border-radius: 100%;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  @media only screen and (min-width: 1024px) {
    .optionShadow {
      border: solid 1.5em transparent;
    }
  }

  .optionShadow.rock {
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top, hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  }

  .optionShadow.paper {
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top, hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  }

  .optionShadow.scissors {
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top, hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  }

  .winner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 200%;
    aspect-ratio: 1 / 1;
    transform: translateY(-25%) translateX(-25%);
    background: radial-gradient(
      circle at center,
      #cfcfcf1c,
      #cfcfcf1c 50%,
      #cfcfcf14 50%,
      #cfcfcf14 60%,
      #cfcfcf0c 60%
    );
    border-radius: 100%;
    z-index: 0;
  }

  @media only screen and (min-width: 1024px) {
    .winner::after {
      width: 300%;
      transform: translateY(-33%) translateX(-33%);
    }
  }
}
